.create-game {
  .option-label {
    vertical-align: middle;
    margin: auto;
  }

  ::ng-deep .ui-multiselect {
    width: 100% !important;
    padding: 0 !important;
  }

  ::ng-deep .ui-multiselect-label-container {
    .ui-multiselect-label {
      margin-bottom: 0;
    }
  }
}

