<nav class="navbar navbar-toggleable-sm navbar-light bg-faded fixed-bottom">
    <ul class="navbar-nav" *ngIf="player.displayName !== undefined">
        <li class="nav-item">
            <!--  TODO - determine if hover is annoying for this game -->
            <a href="" class="nav-link">
                <!--
            <a href="" ng-click="toggleMenu()" ng-mouseover="hoverMenu()"
               ng-mouseleave="stopHoverMenu()">
               -->
                <span class="fa fa-bars"></span>
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/create" class="nav-link">
                <span class="fa fa-plus"></span>
            </a>
        </li>
    </ul>
    <a class="navbar-brand" href="/">{{appName}}
        <small>Welcome {{player.displayName}}</small>
    </a>
    <ul class="navbar-nav ml-auto float-right">
        <li>
            <a routerLink="/profile" *ngIf="player.displayName !== undefined" class="nav-link">
                <span class="fa fa-user"></span>
            </a>
        </li>
        <li>
            <a routerLink="/help" *ngIf="player.displayName !== undefined" class="nav-link">
                <span class="fa fa-question"></span>
            </a>
        </li>
        <li>
            <a routerLink="/admin" *ngIf="showAdmin" class="nav-link">
                <span class="fa fa-eye"></span>
            </a>
        </li>
        <!--  TODO - ng-click fix -->
        <li><a ng-click="logout()" *ngIf="showLogout" class="nav-link">Logout</a></li>
    </ul>
</nav>
