<!--  TODO - break down to further components?  -->
<nav class="navbar navbar-toggleable-sm navbar-light bg-faded fixed-bottom">
    <ul class="navbar-nav" *ngIf="playerName !== undefined">
        <!--  TODO -->
        <li class="nav-item">
            <!--  TODO TSB - determine if hover is annoying for this game -->
            <a href="javascript:void(0)"
               (click)="toggleMenu()"
               (mouseover)="hoverMenu()"
               (mouseleave)="stopHoverMenu()"
               class="nav-link">
                <span class="fa fa-bars"></span>
            </a>
        </li>
    </ul>
    <ul class="navbar-nav" *ngIf="playerName !== undefined">
        <li class="nav-item">
            <!--  TODO -->
            <a routerLink="/create" class="nav-link">
                <span class="fa fa-plus"></span>
            </a>
        </li>
    </ul>
    <a class="navbar-brand" href="/">{{appName}}
        <small>Welcome {{playerName}}</small>
    </a>
    <ul class="navbar-nav ml-auto float-right">
        <li>
            <!--  TODO -->
            <a routerLink="/profile" *ngIf="playerName !== undefined" class="nav-link">
                <span class="fa fa-user"></span>
            </a>
        </li>
        <li>
            <!--  TODO -->
            <a routerLink="/help" *ngIf="playerName !== undefined" class="nav-link">
                <span class="fa fa-question"></span>
            </a>
        </li>
        <li>
            <!--  TODO -->
            <a routerLink="/admin" *ngIf="showAdmin" class="nav-link">
                <span class="fa fa-eye"></span>
            </a>
        </li>
        <!--  TODO -->
        <li><a href="javascript:void(0)" (click)="logout()" *ngIf="showLogout" class="nav-link">Logout</a></li>
    </ul>
</nav>
