<!--  TODO - break down to further components?  -->
<nav class="navbar navbar-toggleable-sm navbar-light bg-faded fixed-bottom">
    <navigation-bar-game-menu-toggle [playerLoaded]="playerLoaded"></navigation-bar-game-menu-toggle>
    <navigation-bar-new-game [playerLoaded]="playerLoaded"></navigation-bar-new-game>
    <a class="navbar-brand" href="/">{{appName}}
        <small>Welcome {{playerName}}</small>
    </a>
    <ul class="navbar-nav ml-auto float-right">
        <li>
            <!--  TODO -->
            <a routerLink="/profile" *ngIf="playerLoaded" class="nav-link">
                <span class="fa fa-user"></span>
            </a>
        </li>
        <li>
            <!--  TODO -->
            <a routerLink="/help" *ngIf="playerLoaded" class="nav-link">
                <span class="fa fa-question"></span>
            </a>
        </li>
        <li>
            <!--  TODO -->
            <a routerLink="/admin" *ngIf="showAdmin" class="nav-link">
                <span class="fa fa-eye"></span>
            </a>
        </li>
        <!--  TODO -->
        <li><a href="javascript:void(0)" (click)="logout()" *ngIf="showLogout" class="nav-link">Logout</a></li>
    </ul>
</nav>
