<ul class="navbar-nav" *ngIf="playerLoaded">
    <li>
        <a [routerLink]="['/profile']"
           ngbPopover="Show your profile and stats"
           triggers="manual"
           popoverTitle="Profile"
           placement="top"
           #help="ngbPopover"
           class="nav-link">
            <span class="fa fa-user"></span>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)" (click)="toggleHelp()" class="nav-link">
            <span class="fa fa-question-circle"></span>
        </a>
    </li>
    <li>
        <a [routerLink]="['/admin']"
           *ngIf="showAdmin"
           class="nav-link">
            <span class="fa fa-eye"></span>
        </a>
    </li>
    <li><a href="javascript:void(0)" (click)="logout()" *ngIf="showLogout" class="nav-link">Logout</a></li>
</ul>
