$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "game-bar.scss";
@import "create.scss";
@import "player-list";
@import "admin";
@import "profile";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: 10px;
  padding-bottom: 45px;

  .navbar {
    padding-left: 5px;
    padding-right: 5px;
    border-width: 0;
    .navbar-brand {
      img {
        width: 24px;
        height: 24px;
        display: inline;
      }
      small {
        @media(max-width: $screen-sm-max) {
          display: none;
        }
      }
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }
  }

  .modal-dialog {
    .modal-header {
      border-width: 0;
    }

    .modal-footer {
      border-width: 0;
    }
  }
}

.pull-left {
  padding-left: 5px;
}

.game-features {
  text-align: center;
  display: inline;
  .game-feature {
    width: auto;
    display: inline-block;
    padding-right: 2px;
  }
}

.main-body {
  padding-left: 0;
}

.jumbotron {
  .small-screen-warning {
    font-size: 48pt;
    @media (min-width: $screen-sm-min) {
      display: none;
    }
  }
}
