.category-wrapper {
  width: 100%;

  .fa {
    margin-right: 5px;
    margin-top: 4px;
  }

  .list-group-item {
    width: 100%;
    margin-top: 5px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    font-weight: bold;
    padding: 10px 10px;
    border: none;
    color: gray;
    .badge {
      margin-top: 4px;
    }
  }

  .games-collapse {
    width: 100%;
    .btn-group-games {
      width: 100%;
      .game-wrapper {
        width: 100%;
      }
    }
  }
}

